<a href="https://colab.research.google.com/github/AUT-Student/BigData-HW1/blob/main/BigData_HW1_Q2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load and Prepare Dataset

In [1]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

id='1-OCBGBtKoY_PadKHcXDyWxHQ2BS8Nulo'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('hw1.zip')

!unzip hw1.zip

Archive:  hw1.zip
   creating: hw1-files/
   creating: hw1-files/q3/
  inflating: hw1-files/q3/patches.csv
  inflating: hw1-files/q3/lsh.py
   creating: hw1-files/q1/
  inflating: hw1-files/q1/dataset1.txt
   creating: hw1-files/q1/.ipynb_checkpoints/
   creating: hw1-files/q2/
  inflating: hw1-files/q2/games_library.txt
   creating: hw1-files/.ipynb_checkpoints/

In [2]:
!head /content/hw1-files/q2/games_library.txt

Far_Cry_6 God_of_War Gran_Turismo_7 GTA_V Ghost_of_Tsushima FIFA_22 UNCHARTED_4 A_Way_Out Death_Stranding The_Last_of_Us_Part_II It_Takes_Two
UNCHARTED_4 God_of_War FIFA_22 Dying_Light_2
Assassin's_Creed_Odyssey God_of_War UNCHARTED_4 A_Way_Out
DAYS_GONE GTA_V The_Last_of_Us_Part_II God_of_War Ghost_of_Tsushima UNCHARTED_4 Spider-Man:Miles_Morales Death_Stranding Red_Dead_Redemption_2 A_Way_Out FIFA_22 Assassin's_Creed_Odyssey ARK:Survival_Evolved MAFIA_Trilogy Control
Horizon_Forbidden_West Gran_Turismo_7 GTA_V Far_Cry_6 UNCHARTED_4 Dying_Light_2 The_Last_of_Us_Part_II Assassin's_Creed_Odyssey God_of_War
Dying_Light_2 GTA_V UNCHARTED_4 God_of_War The_Last_of_Us_Part_II Spider-Man:Miles_Morales DAYS_GONE Gran_Turismo_7 It_Takes_Two Red_Dead_Redemption_2 ARK:Survival_Evolved Ghost_of_Tsushima FIFA_22 Assassin's_Creed_Odyssey Horizon_Forbidden_West Death_Stranding Far_Cry_6 Control
God_of_War Red_Dead_Redemption_2 GTA_V UNCHARTED_4 Gran_Turismo_7 FIFA_22 Spider-Man:Miles_Morales DAYS_GONE The_Last_of_Us_Part_II A_Way_Out Ghost_of_Tsushima Assassin's_Creed_Odyssey
FIFA_22 DAYS_GONE Horizon_Forbidden_West The_Last_of_Us_Part_II GTA_V A_Way_Out Dying_Light_2 God_of_War
The_Last_of_Us_Part_II Horizon_Forbidden_West God_of_War A_Way_Out FIFA_22 Assassin's_Creed_Odyssey MAFIA_Trilogy Control Dying_Light_2 Spider-Man:Miles_Morales GTA_V Ghost_of_Tsushima Red_Dead_Redemption_2 Far_Cry_6 Gran_Turismo_7 It_Takes_Two ARK:Survival_Evolved Death_Stranding UNCHARTED_4
Horizon_Forbidden_West UNCHARTED_4 God_of_War The_Last_of_Us_Part_II GTA_V

In [6]:
import pandas as pd
dataset = pd.read_csv("/content/hw1-files/q2/games_library.txt", header=None)

In [7]:
dataset

                                                       0
0      Far_Cry_6 God_of_War Gran_Turismo_7 GTA_V Ghos...
1           UNCHARTED_4 God_of_War FIFA_22 Dying_Light_2
2      Assassin's_Creed_Odyssey God_of_War UNCHARTED_...
3      DAYS_GONE GTA_V The_Last_of_Us_Part_II God_of_...
4      Horizon_Forbidden_West Gran_Turismo_7 GTA_V Fa...
...                                                  ...
39995  Dying_Light_2 The_Last_of_Us_Part_II ARK:Survi...
39996  Assassin's_Creed_Odyssey ARK:Survival_Evolved ...
39997  UNCHARTED_4 MAFIA_Trilogy Dying_Light_2 Ghost_...
39998  GTA_V The_Last_of_Us_Part_II It_Takes_Two UNCH...
39999  UNCHARTED_4 FIFA_22 Ghost_of_Tsushima GTA_V A_...

[40000 rows x 1 columns]

In [11]:
dataset[0] = dataset[0].apply(lambda x: x.split(" "))

In [12]:
dataset

                                                       0
0      [Far_Cry_6, God_of_War, Gran_Turismo_7, GTA_V,...
1      [UNCHARTED_4, God_of_War, FIFA_22, Dying_Light_2]
2      [Assassin's_Creed_Odyssey, God_of_War, UNCHART...
3      [DAYS_GONE, GTA_V, The_Last_of_Us_Part_II, God...
4      [Horizon_Forbidden_West, Gran_Turismo_7, GTA_V...
...                                                  ...
39995  [Dying_Light_2, The_Last_of_Us_Part_II, ARK:Su...
39996  [Assassin's_Creed_Odyssey, ARK:Survival_Evolve...
39997  [UNCHARTED_4, MAFIA_Trilogy, Dying_Light_2, Gh...
39998  [GTA_V, The_Last_of_Us_Part_II, It_Takes_Two, ...
39999  [UNCHARTED_4, FIFA_22, Ghost_of_Tsushima, GTA_...

[40000 rows x 1 columns]

In [14]:
game_names = set()

for i, game_list in dataset.iterrows():
  print()
  game_names.union(set(game_list[0]))

In [16]:
len(game_names)

0